{# templates/dossier_medical/index_list.html.twig #}

{% block title %}Dossier Medical List{% endblock %}

{% block body %}
    <h1>Dossier Medical List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Patient</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for dossier in dossier_medicals %}
                <tr>
                    <td>{{ dossier.id }}</td>
                    <td>{{ dossier.patient.nom }}</td>
                    <td>{{ dossier.datePrescription ? dossier.datePrescription|date('Y-m-d') : 'N/A' }}</td>
                    <td>
                        <a href="{{ path('app_dossier_medical_show', {'id': dossier.id}) }}" class="btn btn-info">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dossier_medical_new') }}" class="btn btn-primary">Create New Dossier</a>
{% endblock %}
