{# templates/dossier_medical/new.html.twig #}


{% block title %}Create a New Dossier Medical{% endblock %}

{% block body %}
    <h1>Create a New Dossier Medical</h1>

    {{ form_start(form) }}
        {{ form_row(form.datePrescription) }}
        {{ form_row(form.patient) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

    <p><a href="{{ path('app_dossier_medical_index') }}">Back to Dossier Medical List</a></p>
{% endblock %}
