{{ form_start(form) }}

    {# Afficher tous les champs sauf le mot de passe et la confirmation #}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.sexe) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.age) }}
    {{ form_row(form.telephone) }}

    {{ form_row(form.motDePasse) }}
    
    {{ form_row(form.confirmMotDePasse) }}


    

    <button class="btn">{{ button_label|default('Modifier') }}</button>
    

{{ form_end(form) }}
