{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Ajouter une Réclamation</h2>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="mb-3">
                {{ form_label(form.sujet) }}
                {{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.sujet) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.dateDebut) }}
                {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.dateDebut) }}
            </div>
           

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}