{% extends 'base.html.twig' %}

{% block title %} Ajouter une Réclamation {% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 class="mb-4">Ajouter une Réclamation</h2>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="mb-3">
                {{ form_label(form.sujet) }}
                {{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.sujet) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.dateDebut) }}
                {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.dateDebut) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.dateFin) }}
                {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.dateFin) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.etat) }}
                {{ form_widget(form.etat, {'attr': {'class': 'form-select'}}) }}
                {{ form_errors(form.etat) }}
            </div>

           
        {{ form_end(form) }}
    </div>
{% endblock %}
