{% extends 'base.html.twig' %}

{% block title %}Modifier une Prescription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier la Prescription</h1>
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        
        <div class="mb-3">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.titre) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.contenue) }}
            {{ form_widget(form.contenue, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.contenue) }}
        </div>
        
        <div class="mb-3">
            {{ form_label(form.datePrescription) }}
            {{ form_widget(form.datePrescription, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.datePrescription) }}
        </div>
        
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}

        {{ form_rest(form) }}
        
        {{ form_end(form) }}
    </div>
{% endblock %}
