{% extends 'base.html.twig' %}

{% block title %}Create Prescription
{% endblock %}

{% block body %}
	<h1>Create Prescription</h1>
	
		<strong>Diagnostique:</strong>
		{{ diagnostique.id }}</p>

	{{ form_start(form) }}
	{{ form_row(form.contenue) }}
	{{ form_row(form.save) }}
	{{ form_end(form) }}

{% endblock %}
