{% extends 'base.html.twig' %}

{% block title %}Événement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .title {
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
            color: #343a40;
        }
        .table-container {
            margin: 30px auto;
            width: 70%;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Événement</h1>
        <div class="table-container">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ evenement.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ evenement.nom }}</td>
                    </tr>
                    <tr>
                        <th>Contenu</th>
                        <td>{{ evenement.contenue }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ evenement.type }}</td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        <td>{{ evenement.statut }}</td>
                    </tr>
                    <tr>
                        <th>Lieu</th>
                        <td>{{ evenement.lieuxEvent }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d') : 'N/A' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_evenement_index') }}">Retour à la liste</a>
            {% if is_granted('ROLE_MEDECIN') %}
            <a class="btn btn-warning" href="{{ path('app_evenement_modifier', {'id': evenement.id}) }}">Modifier</a>
            {{ include('evenement/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
