{% extends 'base.html.twig' %}

{% block title %}Medecin index{% endblock %}

{% block body %}
    <h1>Medecin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>MotDePasse</th>
                <th>Specialite</th>
                <th>Certificat</th>
                <th>Adresse</th>
                <th>Age</th>
                <th>Sexe</th>
                <th>ImageDeProfil</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <td>{{ medecin.id }}</td>
                <td>{{ medecin.nom }}</td>
                <td>{{ medecin.prenom }}</td>
                <td>{{ medecin.email }}</td>
                <td>{{ medecin.motDePasse }}</td>
                <td>{{ medecin.specialite }}</td>
                <td>{{ medecin.certificat }}</td>
                <td>{{ medecin.adresse }}</td>
                <td>{{ medecin.age }}</td>
                <td>{{ medecin.sexe }}</td>
                <td>{{ medecin.imageDeProfil }}</td>
                <td>
                    <a href="{{ path('app_medecin_controllerr_show', {'id': medecin.id}) }}">show</a>
                    <a href="{{ path('app_medecin_controllerr_edit', {'id': medecin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_medecin_controllerr_new') }}">Create new</a>
{% endblock %}
