{% extends 'base.html.twig' %}

{% block title %}Medecin{% endblock %}

{% block body %}
    <h1>Medecin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medecin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medecin.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ medecin.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ medecin.email }}</td>
            </tr>
            <tr>
                <th>MotDePasse</th>
                <td>{{ medecin.motDePasse }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ medecin.specialite }}</td>
            </tr>
            <tr>
                <th>Certificat</th>
                <td>{{ medecin.certificat }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ medecin.adresse }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ medecin.age }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ medecin.sexe }}</td>
            </tr>
            <tr>
                <th>ImageDeProfil</th>
                <td>{{ medecin.imageDeProfil }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medecin_controllerr_index') }}">back to list</a>

    <a href="{{ path('app_medecin_controllerr_edit', {'id': medecin.id}) }}">edit</a>

    {{ include('medecin_controllerr/_delete_form.html.twig') }}
{% endblock %}
